<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--config cho FDF viewer-->
  <configSections >    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PDFViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!--config cho FDF viewer-->
    <add key="xpdfrc" value="xpdfrc"/>
    <!--key de active cho chuong trinh-->
    <add key="ActiveKey" value=""/>
    <!-- key duoc cap cho nguoi dung-->
    <add key="Serial" value=""/>
    <!-- ten cua ung dung-->
    <add key="AppName" value=""/>
    <!-- ten cua tac gia chuong trinh-->
    <add key="Author" value=""/>
    <!-- phien ban cua ung dung-->
    <add key="VersionApp" value=""/>

    <!--Ngon ngu dang su dung-->
    <add key="CurrLang" value="en-US"/>
    <!--Email-->
    <add key="Email" value="ntxuan2401@gmail.com" />
    <!--Ten hien thi-->
    <add key="DisplayName" value="Nguyen Thanh Xuan" />
    <!--Server mail dang smtp-->
    <add key="MailServerName" value="stmp.google.com" />
    <!--Port cua server mail-->
    <add key="MailPort" value="5966" />
    <!--Password cua mail-->
    <add key="MailPass" value="123344567890" />
    <add key="UserName" value="Admin" />
    <add key="Server" value="TQTRANG" />
    <add key="Port" value="134" />
    <add key="DataBase" value="VPPDB" />
    <add key="UserID" value="sa" />
    <add key="Password" value="123456" />
    <add key="Trusted_Connection" value="true" />
    <!--Duong dan mac dinh cua log file-->
    <add key="PathLogDefault" value="Log" />
    <!--Duong dan mac dinh cua file export-->
    <add key="PathExPortDefault" value="Export" />
    <!--Duong dan mac dinh cua file report bang pdf-->
    <add key="PathReportDefault" value="Report" />
    <!--Duong dan mac dinh cua file backup-->
    <add key="PathBackUpDataDefault" value="Backup" />
    <add key="thousand_separator" value="," />
    <!--Dấu thập phân-->
    <add key="decimal_separator" value="." />
    <!--dinh dang ngay thang-->
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <!--Bat tinh Scroll form cho ung dung hay khong? ==> 1 = Enable; 0 = Disable-->
    <add key="ScrollMDIChild" value="true" />
    <!-- Key ma hoa mat khau-->
    <add key="SecurityKey" value="Syed Moshiur Murshed" />
    <!--DefaultPageSettings.Margins.Top-->
    <add key="DefaultPageSettings.Margins.Top" value="40" />
    <!--DefaultPageSettings.Margins.Left-->
    <add key="DefaultPageSettings.Margins.Left" value="40" />
    <!--DefaultPageSettings.Margins.Right-->
    <add key="DefaultPageSettings.Margins.Right" value="40" />
    <!--DefaultPageSettings.Margins.Bottom-->
    <add key="DefaultPageSettings.Margins.Bottom" value="40" />
    <!--add data to center page-->
    <add key="CenterPartition" value="true" />
    <!--fit column to page-->
    <add key="FitColumnsToPage" value="true" />
    <add key="LevelByLevel" value="true" />
    <add key="AllowCurrentPage" value="false" />
    <add key="AllowPrintToFile" value="false" />
    <add key="AllowSelection" value="false" />
    <add key="AllowSomePages" value="false" />
    <add key="PrintToFile" value="false" />
    <add key="ShowHelp" value="false" />
    <add key="ShowNetwork " value="false" />

  </appSettings>
</configuration>